body {
  font-family: Arial,Sans-serif;
  font-size: 20px;
  background-image: url("../img/teatre618x1400.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*background-size: auto;*/
}
.titol {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
.contenidor {
  margin:0;
  text-align: center;
}
.div_main {
  display: block;
}
.div_intern {
  display: block;
}
.error {
  /*display: none;
  visibility: hidden;*/
  margin-bottom: 5px;
  text-align: left;
  color: red;
}
.escena {
  margin-bottom: 10px;
  min-height: 400px;
  text-align: left;
  background-color: #f0f8ffb0;
}
div#div_formulari {
  display: block;
  margin: 4px auto;
}
div#div_seleccio_escenes {
  margin: 0 auto;
  overflow: hidden;
  width: 50%;
  text-align: center;
}
#seleccio_escenes {
  font-size: 20px;
  padding: 10px;
}
.text {
  font-size: 18px;
  font-weight: normal;
}
.div_botons {
  margin-top: 40px;
}
.imatge {
  width: 48px;
  padding-left: 14px;
  padding-right: 14px;
}
.invisible {
  width: 1px;
}